.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.actionButtonDanger{
  border: none;
  background-color: inherit;
  color: rgb(255, 70, 70);
}

.actionButtonDanger:hover{
  color: red;
  text-decoration: underline;
}
