<div class="page-header">
  <div class="container">
    <h1>Students</h1>
  </div>
</div>

<div class="container">
  <div class="row end-xs mt-1">
    <!-- <div class="col-xs-12">
      <input type="text" class="searh-input" placeholder="Search students"
      [(ngModel)]="filterString"
      (keyup)="filterStudents()"
      >
    </div> -->
  </div>
  <div class="mt-1 mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource" class="">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Year Of Studying Column-->
    <ng-container matColumnDef="yearOfStudying">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Year Of Studying </th>
      <td mat-cell *matCellDef="let element"> {{element.yearOfStudying}} </td>
    </ng-container>

    <!-- Registration Number Column-->
    <ng-container matColumnDef="registrationNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Number </th>
      <td mat-cell *matCellDef="let element"> {{element.registrationNumber}} </td>
    </ng-container>

    <!-- Class Column-->
    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Class Number </th>
      <td mat-cell *matCellDef="let element"> {{element.class}} </td>
    </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.user.firstName}} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.user.lastName}} </td>
      </ng-container>


      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"> <a [title] ="Marks" [routerLink] ="['/marks']" [queryParams] ="{id:element.userId}">Marks</a> </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" z->
    </mat-paginator>
  </div>
</div>
