<div class="card">
  <div class="card-body">
    <h1 class="card-title">Register</h1>
    <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email:</label>
        <div class="col-md-5">
          <input type="text" id="email" formControlName="email" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
          <em *ngIf="validateControl('email') && hasError('email', 'email')">Email is invalid</em>
        </div>
      </div>

      <div class="form-group row">
        <label for="password" class="col-form-label col-sm-2">Password:</label>
        <div class="col-md-5">
          <input type="password" id="password" formControlName="password" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
        </div>
      </div>

      <div class="form-group row">
        <label for="passwordAgain" class="col-form-label col-sm-2">Password again:</label>
        <div class="col-md-5">
          <input type="password" id="passwordAgain" formControlName="passwordAgain" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('passwordAgain') && hasError('passwordAgain', 'required')">Password confirmation is required</em>
          <em *ngIf="hasError('passwordAgain', 'mustMatch')">Passwords must match</em>
        </div>
      </div>

      <br>

      <div class="form-group row">
        <div class="col-md-1">
          <button type="submit" class="btn btn-info" [disabled]="!registerForm.valid">Register</button>
        </div>
      </div>

    </form>
  </div>
</div>
