<h1>Hello {{currentUser}}!</h1>
<div id="intro" class="bg-image" style="
              background-image: url(https://images.unsplash.com/photo-1472121779802-43c68a9f405f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1933&q=80);
              height: 100vh;
              width: 100vh;
              ">
  <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.8)">
    <div class="container d-flex justify-content-center align-items-center text-center h-100 w-100">
      <div>
        <h1 class="mb-5">Catalog Online</h1>
        <p>
          Acesta este un proiect scolar!
        </p>
      </div>
    </div>
  </div>
</div>
