<header *ngIf="(this.isUserAuthenticated && this.currentUser) || !this.isUserAuthenticated">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Catalog Online</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item active" *ngIf="!this.isUserAuthenticated" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
          </li>

          <li *ngIf="this.isUserAuthenticated &&  (this.currentUser.role == 'Secretary' || this.currentUser.role == 'Admin' || this.currentUser.role == 'Student')" class="nav-item active" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/catalogues']">Catalogues</a>
          </li>
          <li *ngIf="this.isUserAuthenticated  && this.currentUser.role == 'Admin'" class="nav-item active" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/users']">Users</a>
          </li>
          <li *ngIf="this.isUserAuthenticated && this.currentUser.role == 'Secretary'" class="nav-item active" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/message-form']">Message Form</a>
          </li>
          <li *ngIf="this.isUserAuthenticated && this.currentUser.role == 'Teacher'" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/messages']">My messages</a>
          </li>
          <li *ngIf="this.isUserAuthenticated && (this.currentUser.role == 'Secretary' || this.currentUser.role == 'Admin' || this.currentUser.role == 'Teacher' || this.currentUser.role == 'Student')" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/subjects']">Subjects</a>
          </li>
          <li *ngIf="this.isUserAuthenticated && (this.currentUser.role == 'Secretary' || this.currentUser.role == 'Admin')" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/teachers']">Teachers</a>
          </li>
        </ul>
        <ul *ngIf="this.isUserAuthenticated" class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <button class="btn btn-link" style="color: #ffffff80;" (click)="logout()">
              <a class="nav-link text-dark" [routerLink]="['']" (click)="logout()"
              >Logout</a></button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
